@model GSI_Internal.Models.ViewModel.drpSelection 
@{
    ViewData["Title"] = "Assign Inquiry To Item";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    <link href="~/css/Multiselect/multiselect.css" rel="stylesheet"/>
    <script src="~/css/Multiselect/multiselect.js"></script>
}

<h1> Assign Requir To Items</h1>
@*<h1> @(Model.Id>0?"Edit Assign Item": "Add Teacher")</h1>*@
<div class="container-fluid">
    <form method="post" asp-action="AddAssignSelectionToItem" asp-controller="AssignSelectionToItem">
        <div class="form-group row">
            
            
                    @Html.HiddenFor(model => model.Id)
                    @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 col-form-label" })
               
            
            <div class="col-sm-12">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Enter Name" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.SelectionIds, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-12">
                @Html.ListBoxFor(model => model.SelectionIds,new MultiSelectList(Model.drpSelections, "Value", "Text"), new { @class = "form-control duallistbox", multiple = "multiple",ShowSelectAll = "true", id = "S1ubjects_dropdown" })
            </div>
        </div>


        <div class="form-group row">
            <input type="submit" name="name" value="@(Model.Id>0?"Update": "Add")" class="btn btn-success" />
        </div>

    </form>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
         
  //          $('#S1ubjects_dropdown').multiselect().setCheckBoxClick("checkboxAll", function(target, args) {
		//	console.log("Checkbox 'Select All' was clicked and got value ", args.checked);
  //              search: true;
  //              selectAll: true;
		//})
		//.setCheckBoxClick("1", function(target, args) {
		//	console.log("Checkbox for item with value '1' was clicked and got value ", args.checked);
		//});
        //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox()
         $('#S1ubjects_dropdown').select2({
      theme: 'bootstrap4'
    })
        });
    </script>
}

<style>
   
/*.multiselect-container{

  max-height:200px;
  overflow:auto;
}*/
</style>