@model IEnumerable<GSI_Internal.Models.ViewModel.ApplicationTrans_RequestVM>
@{
    ViewData["Title"] = "GetAppLicationByStatus";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>GetAppLicationByStatus</h1>
 <div class="card">
     

    
              <div class="card-header">
                <h3 class="card-title">DataTable with default features</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                   
                                    <table   id="example1" class="table table-striped table-hover table-bordered table-condensed tdmaxwidth180 ng-isolate-scope example1" >
                  <thead>
            <tr>
                  
                     <th>Request Channel <br /> قنوات الخدمة</th>
                    <th>Request Number <br />- رقم المعاملة</th>
                    <th>Date <br /> التاريخ</th>
                    <th>Customer Info <br /> بيانات  العميل</th>
                    <th>Customer Contact <br />طرق الاتصال</th>
                   <th>Customer Country <br />   دولة العميل</th>
                  <th   >Service Name</th>
                     <th   > اسم الخدمة</th>
                    <th>Applicaion Number<br />رقم الطلب</th>
                    <th>Totall Price</th>
                   <th>Action <br />الاجراء</th>
                    
                  </tr>
  
                  </thead>
                
               @*  <tbody  >
                 @{
                    var movetype = "";
                  }
                 
                       @foreach (var item in Model)
                     {
                        
                         <tr>
                        @{
                           
                            if (@item.Move_Type==0)
                            {
                                movetype = "WEB";
                            }
                            if (@item.Move_Type==1 )
                            {
                                movetype = "Mobile";
                            }
                             if (@item.Move_Type==2 )
                            {
                                movetype = "email";
                            }

                    }
                             
                             <td>movetype</td>
                             <td>@item.ID</td>
                             <td>@item.The_Date</td>
                             <td>@item.ClientName<br> @item.ClientLastName</td>
                             <td>@item.ClientPhone<br>@item.UserEmail</td>
                             <td>@item.Country_Name</td>
                             <td >@item.TransiactionItem_NameEnglish</td>
                             <td>@item.TransiactionItem_Name</td>
                             <td >@item.NumberOfTransiactionOfEntity</td>
                             <td>@item.TransiactionItem_Price<br>@item.TransiactionItem_GovernmentFees</td>
                            
                             <td><a href="/Dashboard/GetAppLicationToReview/@item.ID" class="btn btn-warning">Check</a></td>
                         </tr>
                     }
                

                  </tbody>*@
              
                  <tbody id="tblBody">

                  </tbody>
                                    </table>
              </div>
              <!-- /.card-body -->
            </div>
             
            <!-- /.card -->
  


  @section Scripts{
    
@*<script src="~/lib/Jquerydatatable/bootstrap-datepicker.min.js"></script>*@


   <script>

       function format(d) {
    // `d` is the original data object for the row
    return (
        '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
        '<tr>' +
        '<td>Full name:</td>' +
        '<td>' +
        d.name +
        '</td>' +
        '</tr>' +
        '<tr>' +
        '<td>Extension number:</td>' +
        '<td>' +
        d.extn +
        '</td>' +
        '</tr>' +
        '<tr>' +
        '<td>Extra info:</td>' +
        '<td>And any further details here (images etc)...</td>' +
        '</tr>' +
        '</table>'
    );
}
$(document).ready( function () {
    $('.example1').DataTable( {
        dom: 'Qlfrtip',
                data: null,
         buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"],
            processing: true,
            responsive: true,
            lengthChange: false,
            orderCellsTop: true,
            autoWidth: true,
            deferRender: true
            
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    

     var data = JSON.parse(myData);
            var updatemytable = $('#example1').DataTable().clear().rows.add(data).draw();
 
   
 // var table = $('#example1').DataTable({
	//	"order": [[ 1, "desc" ]],
	//	"oLanguage": {
	//		"sInfo": "Showing _START_ to _END_ of _TOTAL_ items."
           
	//	},
 //           dom:  '<"row"<"col-sm-12 col-md-6"B><"col-sm-12 col-md-6 text-right"l>><"row"<"col-sm-12"tr>><"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
 //          // dom: 'Qlfrtip'  
 //        buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"],
 //           processing: true,
 //           responsive: true,
 //           lengthChange: false,
 //           orderCellsTop: true,
 //           autoWidth: true,
 //           deferRender: true,
         
	//});

    // $("#example1").DataTable({
    //  "responsive": true, "lengthChange": false, "autoWidth": false,
    //  "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    //}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
   
    
  //  $(".trs").each( function ( i ) {
		
		//if ($(this).text() !== '') {
	 //       var isStatusColumn = (($(this).text() == 'Status') ? true : false);
		//	var select = $('<select  ><option value=""></option></select>')
	 //           .appendTo( $(this).empty() )
	 //           .on( 'change', function () {
	 //               var val = $(this).val();
					
	 //               table.column( i )
	 //                   .search( val ? '^'+$(this).val()+'$' : val, true, false )
	 //                   .draw();
	 //           } );
	 		
		//	// Get the Status values a specific way since the status is a anchor/image
		//	if (isStatusColumn) {
		//		var statusItems = [];
				
  //              /* ### IS THERE A BETTER/SIMPLER WAY TO GET A UNIQUE ARRAY OF <TD> data-filter ATTRIBUTES? ### */
		//		table.column( i ).nodes().to$().each( function(d, j){
		//			var thisStatus = $(j).attr("data-filter");
		//			if($.inArray(thisStatus, statusItems) === -1) statusItems.push(thisStatus);
		//		} );
				
		//		statusItems.sort();
								
		//		$.each( statusItems, function(i, item){
		//		    select.append( '<option value="'+item+'">'+item+'</option>' );
		//		});

		//	}
  //          // All other non-Status columns (like the example)
		//	else {
		//		table.column( i ).data().unique().sort().each( function ( d, j ) {  
		//			select.append( '<option  value="'+d+'">'+d+'</option>' );
		//        } );	
		//	}
	        
		//}
  //  } );
  
    //   $("#example1").DataTable({
    //  "responsive": false, "lengthChange": false, "autoWidth": false,
    //  "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    //}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
  
  
  
  });
</script>
}