@model IEnumerable<TransactionItemInfoVM>
@{
    ViewData["Title"] = "GetAllItemsInfo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">

  <div class="col-12">

<div class="card">
     

    
              <div class="card-header">
                <h3 class="card-title">DataTable with default features</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">




		
		    <table id="example1" class="table table-bordered table-striped" >
                  <thead>
                  <tr>
                   
                    <th>Image</th>
                    <th>Entity Name /  اسم الجهة</th>
                    <th>Main Service / الخدمة الرئيسية</th>
                    <th>Sub Services Name / الخدمة الفرعية</th>
                     <th>Government Fees /الرسوم الحكومية</th>
                     <th>Service Charge / رسوم الخدمة</th>
                     <th > Requirment Arabic / المتطلبات</th>
                  </tr>
  
                  </thead>
                
                  <tbody>

                      @foreach (var item in Model)
                     {
                         <tr>
                             
                             <td><img lass="img-thumbnail" height="100" width="100" asp-append-version="true" src="~/Image/GroupTransPhoto/@item.Groupimage"/></td>
                             <td>@item.TransactionGroupName <br /> @item.TransactionGroupNameEnglish</td>
                             <td>@item.TransactionSubGroupName <br>@item.TransactionSubGroupNameEnglish </td>
                             <td>@item.TransactionNameArabic <br />@item.TransactionNameEnglish</td>
                             <td> @item.GovernmentFees</td>
                             <td> @item.Price</td>
                             <td>
                               
                                 <input type="button" class="btn btn-default" data-toggle="modal" data-target="#tips-@item.ID" value="show Requriment" />
                                    
                                    <!-- Modal -->
                                   <div  class="modal fade" id="tips-@item.ID" tabindex="-1" role="dialog"
                                         aria-labelledby="tipsLabel" aria-hidden="true">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                          @foreach (var items in item.AssignRequirmentToItemVM)
                                          {
                                          <ul >
                                             <li >
                                                 @items.Requirements_NameArabic <br>
                                                 @items.Requirements_English
                                             </li>
                                         </ul>

                                         }
                                          </div>
                                       
                                        </div>
                                      </div>
                                    </div>
                                 <!-- Modal End -->
                                
                             </td>
                            
                         </tr>
                     }
                

                  </tbody>
                
                </table>
	
                  </div>
              <!-- /.card-body -->
            </div>
  </div>  
  </div>
  @section Scripts{
    
@*<script src="~/lib/Jquerydatatable/bootstrap-datepicker.min.js"></script>*@


   <script>

       function format(d) {
    // `d` is the original data object for the row
    return (
        '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
        '<tr>' +
        '<td>Full name:</td>' +
        '<td>' +
        d.name +
        '</td>' +
        '</tr>' +
        '<tr>' +
        '<td>Extension number:</td>' +
        '<td>' +
        d.extn +
        '</td>' +
        '</tr>' +
        '<tr>' +
        '<td>Extra info:</td>' +
        '<td>And any further details here (images etc)...</td>' +
        '</tr>' +
        '</table>'
    );
}
$(document).ready( function () {
    $('#example1').DataTable( {
        dom: 'Qlfrtip',
         buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"],
            processing: true,
            responsive: true,
            lengthChange: false,
            orderCellsTop: true,
            autoWidth: true,
            deferRender: true
            
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

 // var table = $('#example1').DataTable({
	//	"order": [[ 1, "desc" ]],
	//	"oLanguage": {
	//		"sInfo": "Showing _START_ to _END_ of _TOTAL_ items."
           
	//	},
 //           dom:  '<"row"<"col-sm-12 col-md-6"B><"col-sm-12 col-md-6 text-right"l>><"row"<"col-sm-12"tr>><"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
 //          // dom: 'Qlfrtip'  
 //        buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"],
 //           processing: true,
 //           responsive: true,
 //           lengthChange: false,
 //           orderCellsTop: true,
 //           autoWidth: true,
 //           deferRender: true,
         
	//});

    // $("#example1").DataTable({
    //  "responsive": true, "lengthChange": false, "autoWidth": false,
    //  "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    //}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
   
    
  //  $(".trs").each( function ( i ) {
		
		//if ($(this).text() !== '') {
	 //       var isStatusColumn = (($(this).text() == 'Status') ? true : false);
		//	var select = $('<select  ><option value=""></option></select>')
	 //           .appendTo( $(this).empty() )
	 //           .on( 'change', function () {
	 //               var val = $(this).val();
					
	 //               table.column( i )
	 //                   .search( val ? '^'+$(this).val()+'$' : val, true, false )
	 //                   .draw();
	 //           } );
	 		
		//	// Get the Status values a specific way since the status is a anchor/image
		//	if (isStatusColumn) {
		//		var statusItems = [];
				
  //              /* ### IS THERE A BETTER/SIMPLER WAY TO GET A UNIQUE ARRAY OF <TD> data-filter ATTRIBUTES? ### */
		//		table.column( i ).nodes().to$().each( function(d, j){
		//			var thisStatus = $(j).attr("data-filter");
		//			if($.inArray(thisStatus, statusItems) === -1) statusItems.push(thisStatus);
		//		} );
				
		//		statusItems.sort();
								
		//		$.each( statusItems, function(i, item){
		//		    select.append( '<option value="'+item+'">'+item+'</option>' );
		//		});

		//	}
  //          // All other non-Status columns (like the example)
		//	else {
		//		table.column( i ).data().unique().sort().each( function ( d, j ) {  
		//			select.append( '<option  value="'+d+'">'+d+'</option>' );
		//        } );	
		//	}
	        
		//}
  //  } );
  
    //   $("#example1").DataTable({
    //  "responsive": false, "lengthChange": false, "autoWidth": false,
    //  "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    //}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
  
  
  
  });
</script>
}

