@model ApplicationTransaction_RequestVM 

@{
    ViewData["Title"] = "GetAppLicationToReview";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
  <form asp-action="UpdateStatusToReview" asp-controller="Dashboard" enctype="multipart/form-data" class="form-horizontal">
  <div class="row">
      <div class="col-1">
          <label id="lblTimer" ></label>
            <label id="timeleft" ></label>
      </div>
  </div>
  <div class="row">
  <div class="col-12 col-sm-12">
  <div class="card card-primary card-tabs">
  <div class="card-header p-0 pt-1">
      <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
          <li class="nav-item">
              <a class="nav-link active" id="custom-tabs-one-ClientCard-tab" data-toggle="pill" href="#custom-tabs-one-ClientCard" role="tab" aria-controls="custom-tabs-one-ClientCard" aria-selected="true">Client Card</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="custom-tabs-one-ApplicationRequirement-tab" data-toggle="pill" href="#custom-tabs-one-ApplicationRequirement" role="tab" aria-controls="custom-tabs-one-ApplicationRequirement" aria-selected="false">Application Requirement</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="custom-tabs-one-ApplicationLogHistory-tab" data-toggle="pill" href="#custom-tabs-one-ApplicationLogHistory" role="tab" aria-controls="custom-tabs-one-ApplicationLogHistory" aria-selected="false">Application Log History</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="custom-tabs-one-TransferHistory-tab" data-toggle="pill" href="#custom-tabs-one-TransferHistory" role="tab" aria-controls="custom-tabs-one-TransferHistory" aria-selected="false">Transfer History</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="custom-tabs-one-ApplicationAction-tab" data-toggle="pill" href="#custom-tabs-one-ApplicationAction" role="tab" aria-controls="custom-tabs-one-ApplicationAction" aria-selected="false">Application Action</a>
          </li>
      </ul>
  </div>
  <div class="card-body">
  <div class="tab-content" id="custom-tabs-one-tabContent">
  <div class="tab-pane fade show active" id="custom-tabs-one-ClientCard" role="tabpanel" aria-labelledby="custom-tabs-one-ClientCard-tab">
      <div class="card-body">
          <div class="row-md-12">
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label >Request Number:</label>
                          <td><input type="text" asp-for="ID" class="form-control" id="ID" readonly></td>
                      </div>

                  </div>

                  <div class="col-md-6">
                      <div class="form-group">
                          <label >Customer Name :</label>
                          <td><input type="text" asp-for="ClientName" class="form-control" id="ID" readonly></td>
                      </div>

                  </div>
              </div>
                   
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label >Customer Phone :</label>
                          <td><input type="text" asp-for="ClientPhone" class="form-control" id="ID" readonly></td>
                      </div>

                  </div>

                  <div class="col-md-6">
                      <div class="form-group">
                          <label >Customer Email :</label>
                          <td><input type="text" asp-for="UserEmail" class="form-control" id="ID" readonly></td>
                      </div>

                  </div>
              </div>

              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label >Countrey :</label>
                          <td><input type="text" asp-for="Country_Name" class="form-control" id="ID" readonly></td>
                      </div>

                  </div>

                     
              </div>
 
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label >Item code :</label>
                          <td><input type="text" asp-for="TransiactionItem_Code" class="form-control" id="ID" readonly></td>
                      </div>

                  </div>

                  <div class="col-md-6">
                      <div class="form-group">
                          <label >Item Name :</label>
                          <td><input type="text" asp-for="TransiactionItem_Name" class="form-control" id="ID" readonly></td>
                      </div>

                  </div>
              </div>

              <div class="row">
                  <div class="col-md-3">
                      <div class="form-group">
                          <label >Item Price :</label>
                          <td><input type="text" asp-for="TransiactionItem_Price" class="form-control" id="ID" readonly></td>
                      </div>

                  </div>

                  <div class="col-md-3">
                      <div class="form-group">
                          <label >Item Government Fees :</label>
                          <td><input type="text" asp-for="TransiactionItem_GovernmentFees" class="form-control" id="ID" readonly></td>
                      </div>

                  </div>

                  <div class="col-md-3">
                      <div class="form-group">
                          <label >Totall Price:</label>
                          <td><input type="text" asp-for="TransiactionItem_Net" class="form-control" id="ID" readonly></td>
                      </div>

                  </div>
              </div>
          </div>
                   
          <div class="col-md-4">

          </div>
                    

                   

      </div>
  </div>
  <div class="tab-pane fade" id="custom-tabs-one-ApplicationRequirement" role="tabpanel" aria-labelledby="custom-tabs-one-ApplicationRequirement-tab">
      <div class="col-md-12">
          <!-- general form elements -->
            
          <!-- /.card-header -->
          <!-- form start -->
            
          <div class="card-body">
                   
              <div class="form-group">
                  <label for="exampleFormControlTextarea1">Client Notes</label>
                  <textarea disabled asp-for="ClientNotes" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
                    
                    
              <ul>
                  @foreach (var item in Model.RequestSelectionVM)
                  {
                      <li>
                          @item.SelectionName_English
 
                      </li>
                  }
                  <hr />

                  @foreach (var item in Model.RequestInquiry_Answer_VM)
                  {
                      <li>
                          @item.InquiryName_Arabic ? @item.Inquiry_Answer
                      </li>
                  }
                  <hr>
                  @foreach (var item in Model.RequirmentsFileAttachmentVM)
                  {

                      <li>@item.RequireName_Arabic/
                          @if (@item.FileName != null)
                          {
                              <a>@Html.ActionLink("Download Files", "DownloadFileRequirmentApplication", new { fileName = @item.FileName })</a>
                          }
                          else
                          {
                              <label> Not Upload</label>
                          }
                      </li>
                  }
              </ul>

          </div>
          <!-- /.card-body -->

                  

             
              
              
                 
      </div>
      <br />
      <hr />
      <div>
               
      </div>
      <br />
      <hr />
              

                 
      <!-- /.card -->
  </div>
              
  <div class="tab-pane fade" id="custom-tabs-one-ApplicationLogHistory" role="tabpanel" aria-labelledby="custom-tabs-one-ApplicationLogHistory-tab">
      <div class="card-body">
                
          <div class="post">
              <div class="user-block">
                  @foreach (var History in Model.ApplicationTransaction_Request_LogVM)
                  {
                     
                      <span class="username">
                          <a href="#">@History.User_Name</a>
                      </span>
                      <span class="description">@History.The_Date</span>
                      <span class="username">Request Action From</span>
                      <span class="description">@History.Status_From_Name</span>
                      <span class="username">Request Action To</span>
                      <span class="description">@History.Status_TO_Name</span>
                       
                 
                      @if (@History.Note != null)
                      {
                          <span class="username">Note:</span>
                          
                          <pre  class="username">
                            @History.Note.Replace("\n", "\r\n")
                           </pre>
                          
                      }
                        
                       
                     
                       
                      <!-- /.user-block -->

                     

                      <br />
                      if (@History.File_Processing != null)
                      {

                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <a>@Html.ActionLink("Download Files", "DownloadFileLog", new { fileName = @History.File_Processing })</a>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <input type="text" asp-for="@History.File_Name" class="form-control" id="UserEmail" readonly>
                                  </div>
                              </div>
                          </div>
                          
                          

                      }
                     
                    
                
                  }
                    
              </div>
                        
                     
                      
              
          </div>
          <!-- /.card-body -->

        
             
              
              
                 
      </div>
  </div>
  <div class="tab-pane fade" id="custom-tabs-one-TransferHistory" role="tabpanel" aria-labelledby="custom-tabs-one-TransferHistory-tab">
      <div class="card-body">
          <table class="table">
              <tbody>
              @foreach (var item in Model.ApplicationTransferVm)
              {
                  <tr>
                      <th>Date :</th>
                      <td>@item.Transfer_Date</td>
                  </tr>
                  <tr>
                      <th>From user :</th>
                      <td>@item.userFrom_Name</td>
                  </tr>
                  <tr>
                      <th>To User :</th>
                      <td>@item.userTo</td>
                  </tr>
              }
                             
                           
                            
              </tbody>
          </table>
                    
      </div>

  </div>
        
  <div class="tab-pane fade" id="custom-tabs-one-ApplicationAction" role="tabpanel" aria-labelledby="custom-tabs-one-ApplicationAction-tab">
      <div class="card-body">
          <div class="col-md-12">
              <!-- textarea -->
              <div class="form-group">
                  <label>Application Number</label>
                    
                  <input type="text" class="form-control" rows="3"  asp-for="NumberOfTransiactionOfEntity" placeholder="Enter ..."/>
                    
                  
              </div>
          </div>
          <div class="col-md-12">
              <div class="form-group">
                  <div>
                      <label>Transfer Request</label>
                      <input type="checkbox" asp-for="IsTransfer" />
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <!-- textarea -->
              <div class="form-group">
                  <label>Assign Applicaiation TO</label>
                    
                  <select class="custom-select select2bs4" style="width: 100%;" id="userTo"   name="userTo" required asp-for="userTo"  asp-items=" ViewBag.getAlluser" >
                      <option > Seleect User</option>
                  </select>
                    
                  
              </div>
          </div>

          <div class="col-md-12">
              <!-- textarea -->
              <div class="form-group">
                  <label>User Note</label>
                  <textarea  class="form-control" rows="3"  asp-for="Note"  >
                        
                    </textarea>

              </div>
          
               
          </div>
                   
          <!-- /.row -->
          <div class="row">
          
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="logo" class="control-label"></label>
                      <div class="custom-file">
                          <input asp-for="files_Upload" class="custom-file-input" />
                          <label class="custom-file-label" for="customFile">Choose file</label>
                      </div>
                      <span asp-validation-for="files_Upload" class="text-danger"></span>
                  </div>
              </div>

              <div class="col-md-6">
                  <div class="form-group">
                      <label for="TransactionNameEnglish"  class="control-label">File Name</label>
                      <input asp-for="File_Name"  id="File_Name" class="form-control" />
                      <span asp-validation-for="File_Name" class="text-danger"></span>
                  </div>
              </div>
              
              <div class="dropdown show">
                  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Action
                  </a>

                
                  


                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <button class="dropdown-item" asp-controller="Dashboard"  class="btn btn-success" asp-action="UpdateObjToSubmation"> Submation Done</button>
                      <button class="dropdown-item" asp-controller="Dashboard"  class="btn btn-success" asp-action="UpdateObjToPayment">Update To Payment</button>
                      <button class="dropdown-item" asp-controller="Dashboard"  class="btn btn-danger" asp-action="UpdateObjToPaymentDone" >Payment Done</button>
                      <button class="dropdown-item" asp-controller="Dashboard"  class="btn btn-success" asp-action="UpdateStatusUnderProcessing" >Under Processing</button>
                      <button class="dropdown-item" asp-controller="Dashboard"  class="btn btn-success" asp-action="UpdateStatusToDone" >Done Processing</button>
                      <button class="dropdown-item" asp-controller="Dashboard"  class="btn btn-success" asp-action="UpdateStatusToMissingInformation" >Missing Information</button>
                      <button class="dropdown-item" asp-controller="Dashboard"  class="btn btn-success" asp-action="UpdateStatusToMissingProcessing" >Missing Processing</button>
                      <button class="dropdown-item" asp-controller="Dashboard"  class="btn btn-success" asp-action="UpdateStatusRejectFromUS" >Reject From US</button>
                      <button class="dropdown-item" asp-controller="Dashboard"  class="btn btn-success" asp-action="UpdateStatusRejectFromEntity" >Reject From Entity</button>
                      <button class="dropdown-item" asp-controller="Dashboard"  class="btn btn-success" asp-action="UpdateStatusToTransfer" >Transfer Request</button>
    
                  </div>
              </div>  
      
          </div>

          
              @if (Model.Status == 0)
              {
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">

                              <button asp-controller="Dashboard" asp-action="UpdateObjToSubmation" class="btn btn-primary">Ready For Submation</button>

                          </div>
                      </div>
                      <div class="col-md-6">
                      <div class="form-group">

                              <button asp-controller="Dashboard" class="btn btn-success" asp-action="UpdateObjToPayment">Update To Payment</button>

                          </div>
                      </div>

                  </div>



                  <div class="row">
                      <div class="col-md-6">
                         <div class="form-group">

                          <button asp-controller="Dashboard" class="btn btn-danger" asp-action="UpdateStatusRejectFromUS">Reject From US</button>

                      </div>
                  </div>
                      <div class="col-md-6">
                      <div class="form-group">
                         
                              <button asp-controller="Dashboard" class="btn btn-danger" asp-action="UpdateStatusToMissingInformation">Missing Information</button>

                              </div>
                          </div>
                      </div>
              }
              @if (Model.Status == 1)
              {
                  <div class="row">
                      <div class="col-md-12">
                      <div class="form-group">

                          <button asp-controller="Dashboard" class="btn btn-success" asp-action="UpdateObjToPayment">Update To Payment</button>

                      </div>
                  </div>
                  </div>

                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
 
                              <button asp-controller="Dashboard" class="btn btn-danger" asp-action="UpdateStatusRejectFromUS">Reject From US</button>

                          </div>
                      </div>
                 
                      <div class="col-md-6">
                          <div class="form-group">
                    
                              <button asp-controller="Dashboard" class="btn btn-danger" asp-action="UpdateStatusToMissingInformation">Missing Information</button>

                          </div>
                      </div>
                  </div>
               
              }
              @if (Model.Status == 2)
              {
                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                     
                              <button asp-controller="Dashboard" class="btn btn-success" asp-action="UpdateObjToPaymentDone">Payment Done</button>

                          </div>
                      </div>
                  </div>
                 
              }
              @if (Model.Status == 3)
              {
                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                     
                              <button asp-controller="Dashboard" class="btn btn-success" asp-action="UpdateStatusUnderProcessing">Under Processing</button>

                          </div>
                      </div>
                  </div>
             
              }
              @if (Model.Status == 4)
              {
                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                      
                              <button asp-controller="Dashboard" class="btn btn-success" asp-action="UpdateStatusToDone">Done Processing</button>

                          </div>
                      </div>
                  </div>
                
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                      
                              <button asp-controller="Dashboard" class="btn btn-danger" asp-action="UpdateStatusToMissingProcessing">Missing Processing</button>

                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                    
                              <button asp-controller="Dashboard" class="btn btn-danger" asp-action="UpdateStatusRejectFromEntity">Reject From Entity</button>

                          </div>
                      </div>
                  </div>
               
              }
              
          </div>

  </div>
  </div>
  </div>
  <!-- /.card -->
  </div>
  </div>
  </div>

 
  
  

 
</form>
 @section Scripts{
<script type="text/javascript"  >
    $(document).ready( function () {
        //startCountDown(60);
        // //timeleft = 0;
      
        //function startCountDown( timeleft) {
        //    var interval = setInterval(countdown, 1000);
        //    update();

        //        function countdown() {
        //            if (--timeleft > 0) {
        //                update();
                        
        //            } else {
        //                clearInterval(interval);
        //                update();
        //                complete();
        //            }
        //    }


        //    function update() {
                
        //        hours = Math.floor( timeleft / 3600);
        //        minutes = Math.floor(( timeleft  % 3600 ) / 60);
        //        seconds = timeleft % 60;
        //        document.getElementById('lblTimer').innerHTML = '' + hours.toString() + ':' + minutes.toString() + ':' + seconds.toString();
        //        //console.log(seconds.toString());
        //        //console.log(hours.toString());
        //        //console.log(minutes.toString());
        //    }

        //    function complete() {
        //        document.write("Your Time End Transaction You will go Dashboard Page Thank You Please Wait 5 Second");
        //        var url = '@Url.Content("~/")' + "Dashboard/index";
        //        setTimeout(function() {
        //                window.location.href = url;
        //            },
        //            5000);

        //    }
        //}
        //var hours = 0;
        //var minutes = 0;
        //var seconds = 0;
          



    // DropzoneJS Demo Code Start

     });
  // DropzoneJS Demo Code End
</script> 
}