@model GSI_Internal.Models.ViewModel.DashboardVM
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Identity
@using GSI_Internal.Entites
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


 @if (SignInManager.IsSignedIn(User))
            {

      <h5 class="mt-4 mb-2">Main Dashboard <code></code></h5>
     @*   <div class="row">

            @foreach (var item in Model.NewTransactionRequestViewModel )
           {
          <div class="col-md-2 col-sm-4 col-12">
            <div class="info-box bg-info">
              <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">@item.TransiactionGroup_Name</span>
                <span class="info-box-number">@item.count</span>
                
               
                <span class="progress-description">
                  @item.TransiactionSubGroup_Name
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
           }
        
          </div>*@
               
              
     <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
           <div class="small-box bg-info">
              <div class="inner">
                <h3 id="NewRequest_count" >@Model.NewRequest_count</h3>

                <p>New Request</p>
              </div>
              <div class="icon">
                <i class="ion ion-speakerphone"></i>
              </div>
              <a href="/Dashboard/GetAppLicationByStatus/0" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col  New Rquest-->
           <div class="col-lg-3 col-6">
            <!-- small box -->
           <div class="small-box bg-primary">
              <div class="inner">
                <h3 id="RequestSubmation_count">@Model.RequestSubmation_count</h3>

                <p>Ready for Submission</p>
              </div>
              <div class="icon">
                <i class="ion ion-clipboard"></i>
              </div>
              @*<a href="/Dashboard/GetAppLicationByStatus/1" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
              <a asp-controller="Dashboard" asp-action="GetAppLicationByStatus" asp-route-id="1" class="small-box-footer"> More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
          </div>
          <!-- ./col  Submation-->

          <div class="col-lg-3 col-6">
            <!-- small box -->
           <div class="small-box bg-olive">
              <div class="inner">
                <h3 id="RequsetToPayment_count" >@Model.RequsetToPayment_count</h3>

                <p>Waiting For Payment</p>
              </div>
              <div class="icon">
                <i class="ion ion-clipboard"></i>
              </div>
              @*<a href="/Dashboard/GetAppLicationByStatus/1" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
              <a asp-controller="Dashboard" asp-action="GetAppLicationByStatus" asp-route-id="2" class="small-box-footer"> More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
          </div>
          <!-- ./col  Waitiong For Payment-->
          <div class="col-lg-3 col-6">
            <!-- small box -->
           <div class="small-box bg-success">
              <div class="inner">
                <h3 id="RequestPaymentDone_count">@Model.RequestPaymentDone_count</h3>

                <p> Payment Done</p>
              </div>
              <div class="icon">
                <i class="ion ion-load-a"></i>
              </div>
              <a asp-controller="Dashboard" asp-action="GetAppLicationByStatus" asp-route-id="3" class="small-box-footer"> More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col PayMent Done -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
           <div class="small-box bg-gray">
              <div class="inner">
                <h3 id="RequestUnderProcessing_count">@Model.RequestUnderProcessing_count</h3>

                <p>Under Processing</p>
              </div>
              <div class="icon">
                <i class="ion ion-alert-circled"></i>
              </div>
              <a asp-controller="Dashboard" asp-action="GetAppLicationByStatus" asp-route-id="4" class="small-box-footer"> More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col under Processing -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
           <div class="small-box bg-purple">
              <div class="inner">
                <h3 id="RequestDone_count">@Model.RequestDone_count</h3>

                <p>Done Request</p>
              </div>
              <div class="icon">
                <i class="ion ion-thumbsup"></i>
              </div>
             <a asp-controller="Dashboard" asp-action="GetAppLicationByStatus" asp-route-id="5" class="small-box-footer"> More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col Done Request -->

          <div class="col-lg-3 col-6">
            <!-- small box -->
           <div class="small-box bg-warning">
              <div class="inner">
                <h3 id="RequestMissingInformation_count">@Model.RequestMissingInformation_count</h3>

                <p>Missing Information</p>
              </div>
              <div class="icon">
                <i class="ion ion-thumbsup"></i>
              </div>
             <a asp-controller="Dashboard" asp-action="GetAppLicationByStatus" asp-route-id="6" class="small-box-footer"> More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col Missing Information -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
           <div class="small-box bg-orange">
              <div class="inner">
                <h3 id="RequestMissingProcessing_count">@Model.RequestMissingProcessing_count</h3>

                <p>Missing Entity</p>
              </div>
              <div class="icon">
                <i class="ion ion-thumbsup"></i>
              </div>
             <a asp-controller="Dashboard" asp-action="GetAppLicationByStatus" asp-route-id="7" class="small-box-footer"> More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col Missing Processing -->
             <div class="col-lg-3 col-6">
            <!-- small box -->
           <div class="small-box bg-olive">
              <div class="inner">
                <h3 id="RequestMissingProcessing_count">@Model.RequestMissingProcessing_count</h3>

                <p>Missing Update </p>
              </div>
              <div class="icon">
                <i class="ion ion-thumbsup"></i>
              </div>
             <a asp-controller="Dashboard" asp-action="GetAppLicationByStatus" asp-route-id="7" class="small-box-footer"> More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col Update Requirment -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
           <div class="small-box bg-fuchsia">
              <div class="inner">
                <h3 id="RequestRejectFromUS_count">@Model.RequestRejectFromUS_count</h3>

                <p>Reject From Us</p>
              </div>
              <div class="icon">
                <i class="ion ion-thumbsup"></i>
              </div>
             <a asp-controller="Dashboard" asp-action="GetAppLicationByStatus" asp-route-id="8" class="small-box-footer"> More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col Rejest From Us -->

          <div class="col-lg-3 col-6">
            <!-- small box -->
           <div class="small-box bg-pink">
              <div class="inner">
                <h3 id="RequestRejectFromEntity_count">@Model.RequestRejectFromEntity_count</h3>

                <p>Reject Entity</p>
              </div>
              <div class="icon">
                <i class="ion ion-thumbsup"></i>
              </div>
             <a asp-controller="Dashboard" asp-action="GetAppLicationByStatus" asp-route-id="9" class="small-box-footer"> More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col Rejest From Entity -->

          <div class="col-lg-3 col-6">
            <!-- small box -->
           <div class="small-box bg-lightblue">
              <div class="inner">
                <h3 id="RequestAll_count">@Model.RequestAll_count</h3>

                <p>All Request</p>
              </div>
              <div class="icon">
                <i class="ion ion-thumbsup"></i>
              </div>
             <a asp-controller="Dashboard" asp-action="GetAllAppLication" class="small-box-footer"> More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col All Request -->
        
          
          <!-- ./col All Request -->
        </div>
          <div class="row">
              <div class="col-lg-3 col-6">
            <!-- small box -->
           <div class="small-box bg-gray-dark">
              <div class="inner">
                <h3 id="RequestTransferAllUser">@Model.RequestTransferAllUser</h3>

                <p>All Request Transfer</p>
              </div>
              <div class="icon">
                <i class="ion ion-thumbsup"></i>
              </div>
             <a asp-controller="Dashboard" asp-action="GetAllAppLicationTransferByStatus" class="small-box-footer"> More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
           <!-- ./col All Transfer Request -->
            <div class="col-lg-3 col-6">
            <!-- small box -->
           <div class="small-box bg-lime">
              <div class="inner">
                <h3 id="RequestTransferOneUser">@Model.RequestTransferOneUser</h3>

                <p>User Transfer</p>
              </div>
              <div class="icon">
                <i class="ion ion-thumbsup"></i>
              </div>
             <a asp-controller="Dashboard" asp-action="GetAllAppLicationTransferByUser" class="small-box-footer"> More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          </div>
   <div class="row">
   
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-12">
      <div class="info-box">
        <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>

        <div class="info-box-content">
                    <a href="/Dashboard/GetAllItemsInfo" class="sinfo-box-text">Inquiry</a>

          @*<span class="info-box-text">inquiry</span>*@
        @*  <span class="info-box-number">410</span>*@

        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-12">
      <div class="info-box">
        <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>

        <div class="info-box-content">
                    <a href="/ApplicationTransaction_Request/CreateManualTransAction" class="sinfo-box-text">Create Request</a>

          @*<span class="info-box-text">inquiry</span>*@
         @*  <span class="info-box-number">410</span>*@

        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    
    <!-- /.col -->
  </div>


 
                  <!-- /.row -->
}
       
@section Scripts
{
    <script type='text/javascript'>

 

        $(function () {

            setInterval(function () { $('#contributors').load('/Dashboard/Index'); }, 3000); // every 3 sec

        });

 

    </script>
}

    

