@model IEnumerable<ApplicationTrans_RequestVM>
@{
    ViewData["Title"] = "GetAppLicationByStatus";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div class="card aon-card">
    <div class="card-body aon-card-body">



        <div class="sf-bs-data-table">
            <div class="table-responsive">
                <table class="table table-striped table-bordered example-dt-table" style="width:100%">
                    <thead>
                        <tr>
                            <th>REQUEST NUMBER</th>
                            <th>DATE</th>
                            <th>SERVICE NAME</th>
                            <th>SERVICES STATUS </th>
                            <th>CHECK </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.The_Date</td>
                                <td>@item.TransiactionItem_NameEnglish</td>
                                <td>@item.Status_Name</td>
                                <td><a type="button" class="btn btn-outline-primary"
                                       asp-controller="ClientDashboard" asp-action="GetAppLicationToReview"
                                       asp-route-ID="@item.ID">Check </a></td>


                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>REQUEST NUMBER</th>
                            <th>DATE</th>
                            <th>SERVICE NAME</th>
                            <th>SERVICES STATUS </th>
                            <th> check </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
</div>

