@model GSI_Internal.Models.ViewModel.ClientDashboardVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div class="row">
    <div class="col-xl-12 col-lg-12 m-b30 break-1300">
        <div class="card aon-card">
            <div class="card-body aon-card-body">
                <div class="row">
                    <div class="col-lg-3 m-b30">
                        <div class="panel panel-default ser-card-default">
                            <div class="panel-body ser-card-body ser-puple p-a30">
                                <div class="ser-card-title">All Request</div>
                                <div class="ser-card-icons"><img style="height: 128px;width: 128px" src="~/Client/images/checklist.png" alt=""/></div>
                                <div class="ser-card-amount">@Model.RequestAll_count</div>
                                <div class="ser-card-table">
                                    <div class="ser-card-left">
                                        <div class="ser-card-total">
                                            <div class="ser-total-table">
                                                <div class="ser-total-cell1"> More info <i class="fa fa-eye" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ser-card-right">
                                        <div class="ser-card-icon"><i class="glyph-icon flaticon-money-3"></i></div>
                                    </div>
                                </div>
                                <span class="ser-card-circle-bg"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 m-b30">
                        <div class="panel panel-default ser-card-default">
                            <div class="panel-body ser-card-body  ser-blue p-a30">
                                <div class="ser-card-title">Processing</div>
                                <div class="ser-card-icons"><img style="height: 128px;width: 128px" src="~/Client/images/diagram.png" alt=""/></div>
                                <div class="ser-card-amount">@Model.RequestUnderProcessing_count</div>
                                <div class="ser-card-table">
                                    <div class="ser-card-left">
                                        <div class="ser-card-total">
                                            <div class="ser-total-table">
                                                <div class="ser-total-cell1">
                                                    <a href="/ClientDashboard/GetAppLicationByStatus/0">
                                                        More info
                                                        <i class="fa fa-eye" aria-hidden="true"></i></a>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ser-card-right">
                                        <div class="ser-card-icon"><i class="glyph-icon flaticon-wallet"></i></div>
                                    </div>
                                </div>
                                <span class="ser-card-circle-bg"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 m-b30">
                        <div class="panel panel-default ser-card-default">
                            <div class="panel-body ser-card-body ser-orange p-a30">
                                <div class="ser-card-title">Waiting Payment</div>
                                <div class="ser-card-icons"><img style="height: 128px;width: 128px" src="~/Client/images/credit-card.png" alt=""/></div>
                                <div class="ser-card-amount">@Model.RequsetToPayment_count</div>
                                <div class="ser-card-table">
                                    <div class="ser-card-left">
                                        <div class="ser-card-total">
                                            <div class="ser-total-table">
                                                <div class="ser-total-cell1">
                                                    <a href="/ClientDashboard/GetAppLicationByStatus/2">
                                                        More info
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ser-card-right">
                                        <div class="ser-card-icon"><i class="glyph-icon flaticon-calendar"></i></div>
                                    </div>
                                </div>
                                <span class="ser-card-circle-bg"></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 m-b30">
                        <div class="panel panel-default ser-card-default">
                            <div class="panel-body ser-card-body ser-process p-a30">
                                <div class="ser-card-title">Missing</div>
                                <div class="ser-card-icons"><img style="height: 128px;width: 128px" src="~/Client/images/checklist.png" alt=""/></div>
                                <div class="ser-card-amount">@Model.RequestMissingInformation_count</div>
                                <div class="ser-card-table">
                                    <div class="ser-card-left">
                                        <div class="ser-card-total">
                                            <div class="ser-total-cell1">
                                                <a href="/ClientDashboard/GetAppLicationByStatus/7">
                                                    More info
                                                    <i class="fa fa-eye" aria-hidden="true"></i></a>
                                                   
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ser-card-right">
                                        <div class="ser-card-icon"><i class="glyph-icon flaticon-money-3"></i></div>
                                    </div>
                                </div>
                                <span class="ser-card-circle-bg"></span>
                            </div>
                        </div>
                    </div>

                                    
                </div>
            </div>
        </div>
                        
    </div>
                    
                    
</div>
            	<div class="aon-admin-heading">
                	<h4>My Services</h4>
                </div>                
                
                <div class="card aon-card">
                    <div class="card-body aon-card-body">



                       <div class="sf-bs-data-table">
                           <div class="table-responsive">
                                    <table class="table table-striped table-bordered example-dt-table" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>REQUEST NUMBER</th>
                                                <th>DATE</th>
                                                <th>SERVICE NAME</th>
                                                <th>SERVICES STATUS </th>
                                                <th>CHECK </th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                        @foreach (var item in @Model.ApplicationTrans_RequestVM)
                                        {
                                            <tr>
                                                <td>@item.ID</td>
                                                <td>@item.The_Date</td>
                                                <td>@item.TransiactionItem_NameEnglish</td>
                                                <td>@item.Status_Name</td>
                                                <td><a type="button" class="btn btn-outline-primary"
                                                            asp-controller="ClientDashboard" asp-action="GetAppLicationToReview"
                                                            asp-route-ID="@item.ID">Check </a></td>
                                                
                                              
                                            </tr>
                                        }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>REQUEST NUMBER</th>
                                                <th>DATE</th>
                                                <th>SERVICE NAME</th>
                                                <th>SERVICES STATUS </th>
                                                <th>CHECK </th>
                                            </tr>
                                        </tfoot>
                                    </table>
                           </div>
                       </div>

                    </div>
                </div>
            



