@model IEnumerable<RequirmentsFileAttachmentVM>
@{
    ViewData["Title"] = "SelectClientDocument";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div class="aon-provi-left">
    <div class="aon-admin-heading">
        <h4>Document</h4>
    </div>                
                
    <div class="card aon-card">
        <div class="card-body aon-card-body">



            <div class="sf-bs-data-table">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered example-dt-table" style="width:100%">
                        <thead>
                        <tr>
                            
                            <th>Date Upload</th>

                            <th>App Number</th>
                            <th>File Name</th>
                            
                            <th>Action</th>
                                               
                        </tr>
                        </thead>
                        <tbody>
                            

                        @foreach (var item in @Model)
                        {
                            <tr>
                                
                                <td>@item.AppDateTime</td>
                                <td>@item.App_Code</td>
                                <td>@item.RequireName_English</td>

                                <td>
                                    
                                    @if (@item.FileName != null)
                                    {
                                        <a>@Html.ActionLink("Download", "DownloadFileRequirmentApplication" , new {@class = "admin-button btn-sm viewBookings", fileName = @item.FileName })</a>
                                        <a href="/ClientDashboard/ChangeOrUploudFileAttachMend/@item.Id" class="btn btn-warning">Change</a>
                                    }
                                    else
                                    {
                                        <label> Not Upload</label>
                                        <a href="/ClientDashboard/ChangeOrUploudFileAttachMend/@item.Id" class="btn btn-warning">Upload</a>
                                    }
                                </td>


                            </tr>
                        }
                        </tbody>
                        <tfoot>
                        <tr>
                            
                            <th>Date Upload</th>
                            <th>App Number</th>
                            <th>File Name</th>
                            <th>Action</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>



