@model HomeVM
@{
ViewData["Title"] = "Index";
Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<h1>Requirements</h1>
<a asp-action="Create" asp-controller="AssignRequirmentToItem" class="btn btn-primary">Add New Requirements</a>
<br />
<br />
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Item Name Arabic</th>
      <th>Requirement Name Arabic</th>
      <th>Item Name English</th>
      <th>Requirement Name English</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
    <tr>
      <td>@item.ID</td>
      <td>@item.TransactionItem_NameArabic</td>
      <td>@item.Requirements_NameArabic</td>
      <td>@item.TransactionItem_English</td>
      <td>@item.Requirements_English</td>
      <td><a href="/AssignRequirmentToItem/Edit/@item.ID" class="btn btn-warning">Edit</a></td>
      <td><a href="/AssignRequirmentToItem/Delete/@item.ID" class="btn btn-danger">Delete</a></td>
    </tr>
    }
  </tbody>
</table>

*@

<h1>Assign's List</h1>


<div class="col-12">

  <div class="card">



    <div class="card-header">
      <h3 class="card-title">DataTable with default features</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">





      <table id="example1" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Image</th>
            <th>Entity Name / اسم الجهة</th>
            <th>Main Service / الخدمة الرئيسية</th>
            <th>Sub Services Name / الخدمة الفرعية</th>
            <th>Government Fees /الرسوم الحكومية</th>
            <th>Service Charge / رسوم الخدمة</th>
            <th> Requirment Arabic / المتطلبات</th>

            <th>Action</th>
          </tr>

        </thead>

        <tbody>

          @foreach (var item in Model.TransactionItemInfoVM)
          {
          <tr>
            <td><input type="hidden" value="@item.ID" /></td>
            <td><img class="img-thumbnail" height="100" width="100" asp-append-version="true"
                src="~/Image/GroupTransPhoto/@item.Groupimage" /></td>
            <td>@item.TransactionGroupName <br> @item.TransactionGroupNameEnglish</td>
            <td>@item.TransactionSubGroupName <br> @item.TransactionSubGroupNameEnglish </td>
            <td>@item.TransactionNameArabic <br> @item.TransactionNameEnglish </td>
            <td> @item.Price</td>
            <td> @item.GovernmentFees</td>
            <td>


            <input type="button" class="btn btn-default" data-toggle="modal" data-target="#tips-@item.ID" value="show Requriment" />
            



              <!-- Modal -->
              <!-- Modal -->
            
              <div class="modal fade" id="tips-@item.ID" tabindex="-1" role="dialog"
                aria-labelledby="tipsLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                      <button type="button"  class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                     <ul>
                      @*   @for (var i = 0; i < item.AssignRequirmentToItemVM.Where(a=>a.TransactionItemID==@item.ID).Count(); i++)
                        {
                          <li>
                              /
                          </li>
                        }
*@

                      @foreach (var items in
                      @item.AssignRequirmentToItemVM.Where(a=>a.TransactionItemID==item.ID).Select(a=>a))
                      {

                        <li>
                        
                          @items.Requirements_NameArabic <br>
                          @items.Requirements_English
                        </li>
                      

                      }
                      </ul>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                     
                    </div>
                  </div>
                </div>
              </div>




            </td>


            <td>
              <a href="AssignRequirmentToItem/AddAssignRequirToItem/@item.ID" class="btn btn-warning">Edit <i
                  class="fa fa-edit"></i></a>
            </td>


          </tr>
          }


        </tbody>

      </table>

    </div>
    <!-- /.card-body -->
  </div>
</div>

@section Scripts{

@*
<script src="~/lib/Jquerydatatable/bootstrap-datepicker.min.js"></script>*@


<script>
  $(document).ready(function () {
    $('#example1').DataTable({
      dom: 'Qlfrtip',
      buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"],
      processing: true,
      responsive: true,
      lengthChange: false,
      orderCellsTop: true,
      autoWidth: true,
      deferRender: true

    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $(".modal").on("hidden.bs.modal", function () {
      $(".modal-body1").html("");
    });
    //$('#example1').DataTable( {
    //    responsive: {
    //        details: {
    //            display: $.fn.dataTable.Responsive.display.modal( {
    //                header: function ( row ) {
    //                    var data = row.data();
    //                    return 'Details for '+data[0]+' '+data[1];
    //                }
    //            } ),
    //            renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
    //                tableClass: 'ui table'
    //            } )
    //        }
    //    }
    //} );

    // var table = $('#example1').DataTable({
    //	"order": [[ 1, "desc" ]],
    //	"oLanguage": {
    //		"sInfo": "Showing _START_ to _END_ of _TOTAL_ items."

    //	},
    //           dom:  '<"row"<"col-sm-12 col-md-6"B><"col-sm-12 col-md-6 text-right"l>><"row"<"col-sm-12"tr>><"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
    //          // dom: 'Qlfrtip'  
    //        buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"],
    //           processing: true,
    //           responsive: true,
    //           lengthChange: false,
    //           orderCellsTop: true,
    //           autoWidth: true,
    //           deferRender: true,

    //});

    // $("#example1").DataTable({
    //  "responsive": true, "lengthChange": false, "autoWidth": false,
    //  "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    //}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');


    //  $(".trs").each( function ( i ) {

    //if ($(this).text() !== '') {
    //       var isStatusColumn = (($(this).text() == 'Status') ? true : false);
    //	var select = $('<select  ><option value=""></option></select>')
    //           .appendTo( $(this).empty() )
    //           .on( 'change', function () {
    //               var val = $(this).val();

    //               table.column( i )
    //                   .search( val ? '^'+$(this).val()+'$' : val, true, false )
    //                   .draw();
    //           } );

    //	// Get the Status values a specific way since the status is a anchor/image
    //	if (isStatusColumn) {
    //		var statusItems = [];

    //              /* ### IS THERE A BETTER/SIMPLER WAY TO GET A UNIQUE ARRAY OF <TD> data-filter ATTRIBUTES? ### */
    //		table.column( i ).nodes().to$().each( function(d, j){
    //			var thisStatus = $(j).attr("data-filter");
    //			if($.inArray(thisStatus, statusItems) === -1) statusItems.push(thisStatus);
    //		} );

    //		statusItems.sort();

    //		$.each( statusItems, function(i, item){
    //		    select.append( '<option value="'+item+'">'+item+'</option>' );
    //		});

    //	}
    //          // All other non-Status columns (like the example)
    //	else {
    //		table.column( i ).data().unique().sort().each( function ( d, j ) {  
    //			select.append( '<option  value="'+d+'">'+d+'</option>' );
    //        } );	
    //	}

    //}
    //  } );

    //   $("#example1").DataTable({
    //  "responsive": false, "lengthChange": false, "autoWidth": false,
    //  "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    //}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');



  });
</script>
}