@model GSI_Internal.Models.ViewModel.ApplicationTrans_RequestVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<body>
      <div class="col">
    <h1>Submit New Services</h1>
    <form asp-action="Create" asp-controller="ApplicationTransaction_Request" enctype="multipart/form-data" class="form-horizontal">
    
        <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Services 
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
     @foreach (var item in Model.TransactionItemVM)
          {
         @*  <input hidden type="text" disabled class="form-control" asp-for="TransiactionItem_Code"  value="@item.ID" id="TransiactionItem_Code" aria-describedby="my-name-desc">
           <input type="text" disabled class="form-control"  value="@item.TransactionNameArabic" id="TransactionNameArabic" aria-describedby="my-name-desc">
           <input type="text" disabled class="form-control"  value="@item.Price" id="Price" aria-describedby="my-name-desc">
           <input type="text" disabled class="form-control"  value="@item.GovernmentFees" id="GovernmentFees" aria-describedby="my-name-desc">*@


        <div class="form-group">
            <label  for="ApplicatonName">Application Name </label>
            <input type="text" readonly class="form-control" asp-for="TransiactionItem_Code" id="customerName" value="@item.ID" aria-describedby="emailHelp" placeholder="Enter Name">
            
        </div>
              <div class="form-group">
            <label for="ApplicatonName">Application Name </label>
            <input type="text" readonly  class="form-control" asp-for="TransiactionItem_Name" id="customerName" value="@item.TransactionNameArabic" aria-describedby="emailHelp" placeholder="Enter Name">
        </div>
              <div class="form-group">
            <label for="ApplicatonName">Application Name </label>
            <input type="text" readonly  class="form-control" asp-for="TransiactionItem_Price" id="customerName" value="@item.Price" aria-describedby="emailHelp" placeholder="Enter Name">
        </div>
              <div class="form-group">
            <label for="ApplicatonName">Application Name </label>
            <input type="text" readonly  class="form-control" asp-for="TransiactionItem_GovernmentFees" value="@item.GovernmentFees" id="customerName" aria-describedby="emailHelp" placeholder="Enter Name">
        </div>
       
       
       
       
       }
                      @*  @{
                            var i = Model.TransactionItemVM;
                              <input hidden type="text" disabled class="form-control" asp-for="TransiactionItem_Code" value="1" id="GroupNameArab" aria-describedby="my-name-desc">
                              <input type="text" disabled class="form-control" asp-for="TransiactionItem_Name" value="2" id="GroupNameArab" aria-describedby="my-name-desc">
                              <input type="text" disabled class="form-control" asp-for="TransiactionItem_Price" value="5" id="GroupNameArab" aria-describedby="my-name-desc">
                        }*@
          
       
         
                      
      </div>
      </div>
    </div>

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Requrirment
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
   @foreach (var item in @Model.AssignRequirmentToItemVM)
           {
               <ul>
                   <li>
                         <h3>@item.Requirements_NameArabic</h3> 
                   </li>
               </ul>
           
           }
      </div>
      </div>
    </div>
  </div>

        <div class="form-group">
            <label for="ClientName">full Name </label>
            <input type="text" class="form-control" asp-for="ClientName"  id="ClientName" aria-describedby="my-name-desc" placeholder="Enter Name Arabic">
             <p id="my-name-desc">
            Please Enter Name .
        </p>
        </div>

           <div class="form-group">
            <label for="ClientName">Last Name </label>
            <input type="text" class="form-control" asp-for="ClientLastName" id="ClientName" aria-describedby="my-name-desc" placeholder="Enter Name Arabic">
             <p id="my-name-desc">
            Please Enter Last Name .
        </p>
        </div>

         <div class="form-group">
            <label for="TransactionGroupID">Transaction Group Name</label>
        <select class="custom-select" id="" name="TransactionGroupID" required asp-for="Country_Name"  asp-items=" ViewBag.CountryList" >

        </select>
       </div>

        <div class="form-group">
            <label for="Phone">Phone </label>
            <input type="text" class="form-control" asp-for="ClientPhone" id="Phone" aria-describedby="my-name-desc" placeholder="Enter Name Arabic">
             <p id="my-name-desc">
            Please Enter Phone
        </p>
        </div>
        <div class="form-group">
            <label for="GroupNameArab">Email</label>
            <input type="email" class="form-control" id="GroupNameArab" asp-for="UserEmail" aria-describedby="my-name-desc" placeholder="Enter Name Arabic">
             <p id="my-name-desc">
            Please Enter Name Arabic.
        </p>
        </div>
        
         <div class="form-group">
            <label for="logo">LOGO </label>
            <input type="file" class="form-control" asp-for="files_Upload" id="logo"  aria-describedby="emailHelp" placeholder="LOGO">
        </div>
 
     
        <br />
        <br />
        <input id="submit"   type="submit" class="btn btn-primary" value="Save" />
     
       
     @*  
       @foreach (var item in @Model.TransactionItemVM)
          {
      <a href="/ApplicationTransaction_Request/Create/@item.ID" class="btn btn-warning">sssss</a>


          }*@
        
    </form>
</div>

</body>










 @section Scripts{
    @*    <script>
            $(function () {

              //let DemoRequestSubs = '[]';
              //var obj = JSON.parse(DemoRequestSubs);

              let   ApplicationTrans_RequestVM = '[]'
              var obj = JSON.parse(ApplicationTrans_RequestVM);
            $("body").on("click", "#submit", function () {
                //Loop through the Table rows and build a JSON array.

             
                    var TransiactionItem_Code =$('#TransiactionItem_Code').val();
                    var TransactionNameArabic =$('#TransactionNameArabic').val();
                    var Price =$('#Price').val();
                    var GovernmentFees =$('#GovernmentFees').val();
                   

                 

                    obj.push({ "TransiactionItem_Code": TransiactionItem_Code, "TransactionNameArabic": TransactionNameArabic ,  "Price": Price, "GovernmentFees": GovernmentFees   });



                //DemoRequestSubs = JSON.stringify(obj);
                //$("#DemoRequestSubs").val(DemoRequestSubs);
                 alert(obj)
                ApplicationTrans_RequestVM = JSON.stringify(obj);
                $("#ApplicationTrans_RequestVM").val(ApplicationTrans_RequestVM);

                alert(obj)

            });

        });

        </script>*@

    }