@model GSI_Internal.Models.ViewModel.HomeVM
@{
    ViewData["Title"] = "showSelectedGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<div class="loading-area">
        <div class="loading-box"></div>
        <div class="loading-pic">
            <div class="windows8">
                <div class="wBall" id="wBall_1">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_2">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_3">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_4">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_5">
                    <div class="wInnerBall"></div>
                </div>
            </div>
        </div>
    </div>
   


  
       
            
        <div class="page-content">
       
        <!-- Search Panel Area -->
        <div class="sf-seach-vertical sf-search-bar-panel social-float-parent ">
            <div class="search-form " id="social-float">
             

                  <div class="sf-searchbar-box">
                    <ul class="sf-searchbar-area">
                      <li>
                        <div class="sf-search-title">  
                            <label>Keyword</label>
                            <span class="sf-search-icon"><img src="~/Client/images/search-bar/keyword.png" alt=""/></span>
                        </div>
                         <form asp-action="Index" asp-controller="Home" method="post">
                        <div class="sf-search-feild ">
                            <input type="text" id="postTitle" name="postTitle" value="" placeholder="Keyword Main services"  class="form-control sf-form-control  " >
                           
                        </div>
                        </form> 
                      </li>
                       <br />
                       <button type="button" id="btnsearch"    class="site-button sf-search-btn filter-button"><i class="fa fa-search "></i> Search Now</button>
                     <li>
                           <button class=" sf-search-btn btn-dark filter-button" data-filter="all">All Main Services </button>
                          @*<button class="btn btn-dark filter-button" data-filter="all">All</button>*@
                     </li>
                    @foreach (var item in Model.TransactionSubGroupVM.Select((value,i) => new {i, value})  )
                    {
                         <li>
                        <div class="sf-search-title">

                           <input type="hidden" id="groupID" name="groupID" value="@item.value.TransactionGroupID" placeholder="Keyword"  class="form-control sf-form-control">
                         <a class=" filter-button" data-filter="@item.value.SubGroupNameEnglish.Replace(' ','_')"  > 
                             
                          <label > @item.value.SubGroupNameEnglish</label>  </a> 
                           
                        </div>
                        <div class="sf-search-feild">
                            <a><label>Number Of Services @item.value.count</label></a>
                           
                        </div>
                      </li>
                    }



                    </ul>
                  </div>
                  

             
            </div>
        </div>
        <!-- Search Panel Area End -->
        
        <!-- Search Result Area -->
        <div class="aon-search-result-area">
            
            <!-- Search Filter -->
            <!-- COLUMNS 1 -->
          
            
            <div class="aon-testmonials-area sf-curve-pos" style=" padding-top: 10px;padding-bottom: 10px;">
                <div class="container">
                    <!--Title Section Start-->
                    
                    <!--Title Section End-->


                    <div class="section-content">
                        <!--testimonial top-->
                 
                        
                        <div class="section-content">
                            <div class="owl-carousel categories-carousel-owl aon-owl-arrow">
                                <!-- COLUMNS 1 -->

                                @foreach (var item in Model.PopularTransactionItemVMINGroup)
                                {
                                    <partial name="_PopularServices" model="item" />
                                }

                            
                          
                            </div>
                        </div>
                        
                        
                        
                        
                        
                    
                    </div>

                </div>
            </div>
            

            

            <!-- COLUMNS 1 -->
            <!-- Search Filter End -->
            <div class="sf-map-filter">
                <button class="search-filter-btn btn site-button" type="button"><i class="fa fa-sliders"></i> Search Filter</button>
            </div>
            
            <!-- Search Result Show -->
            <div class="aon-vender-list-wrap-outer">
                <div class="row">
                    <!--Block 1-->
                  
                  
                    @foreach (var item in Model.TransactionItemVM  )
                   {
                       
                  

                          <div class="col-lg-12 col-md-12 filter @item.TransactionSubGroupNameEnglish.Replace(' ','_')">
                                <div class="aon-post-jobsCol media-bg-animate mba-bdr-15">
                                    <div class="aon-post-jobs2 aon-icon-effect">

                                        <div class="job-comapny-logo">
                                            <img class="company_logo aon-icon"  style="height: 100%; width: 100%;" src="~/Image/ItemTransPhoto/@item.ServicesPhoto" alt="">
                                        </div>
                                        <div class="job-comapny-info">
                                            <div class="position">
                                                <h5><a href="/Home/SelectFavoirotServives/@item.ID">@item.TransactionNameEnglish</a></h5>
                                                <div class="company"><strong>@item.TransactionSubGroupNameEnglish</strong></div>
                                            </div>

                                            <ul class="meta">
                                                <li class="job-type hourly"><i class="fa fa-calendar-o"></i> @item.Time_Services_English</li>
                                            </ul>

                                            <div class="job-date">
                                                <span><i class="fa fa-money"></i> Goverment Fees :@item.GovernmentFees AED - Services Fees : @item.Price  AED </span>
                                            </div>

                                           
                                            <div class="job-label"><img src="images/label.png" alt=""></div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                     
                   }


                        

         

                 
                

                    <!--Pagination Start-->
                  

                </div>
            </div>
            <!-- Search Result Show End -->

        </div>
        <!-- Search Result Area End-->

       
    </div>
        
    
 

@*@section Scripts{
   
     <script>
   $( function() {
         $("#postTitle").autocomplete({
                source: 'https://localhost:44336/Search'
            });
        $("#postTitle").on("change paste keyup", function() {
   alert($(this).val()); 
});

    $(".filter-button").click(function(){
        var value = $(this).attr('data-filter');
        if(value == "all")
        {
           
            $('.filter').show('1000');
        }
        else
        {
             
            $(".filter").not('.'+value).hide('3000');
            $('.filter').filter('.'+value).show('3000');
        }
    });

       function checkOffset() {
           if ($('#social-float').offset().top + $('#social-float').height()
               >= $('#footer').offset().top - 10);
      

       $(document).scroll(function() {
    checkOffset();
          });

        

});
    </script>
    

}*@


@section Scripts {
   
    <script>
        $(document).ready(function () {
          
        
             $(".filter-button").click(function(){
        var value = $(this).attr('data-filter');
        if(value == "all")
        {
           
            $('.filter').show('1000');
        }
        else
        {
             
            $(".filter").not('.'+value).hide('3000');
            $('.filter').filter('.'+value).show('3000');
        }
    });



             var id= $("#groupID").val();
             $("#postTitle").autocomplete({
                 source: '/Home/search/'+id+'',
                


             });     

        });
    </script>
}
<style>


 
/* div.social-float-parent { height: 1000px; position: relative; }*/
    /*div#social-float { width: 200px; position: fixed; left: 10px; bottom: 10px; background: #777; }
    div#footer { width: 100%; height: 200px; background: #eee; }*/


  /*  div.social-float-parent { width: 100%; height: 1000px;  position: relative; }*/


/*div#social-float { width: 200px; position: fixed; bottom: 10px; background: #777; }*/
/*div#footer { width: 100%; height: 200px; }

.ui-autocomplete-loading {
    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
  }*/

</style>